<!-- Moved original formatting to "notes" file -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!--viewport goodness http://enva.to/A79s3G-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Meaningless Pap</title>

    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'skrollr', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'background_vid', 'data-turbolinks-track' => true %>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/favicon.ico" />
    <link rel="apple-touch-icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/apple-touch-icon.png" />
</head>

<body>
  <header class="band" data-0="background-position:0px 0px;" data-300="background-position:0px -120px;">
    <div class="container">
        <div class="columns sixteen" data-0="opacity: 1" data-180="opacity: 0">
          <h1>About Dan Klos</h1>
          <h6>(Oooo fancy)</h6>
        </div>
    </div>
  </header>

  <div class="band main">
      <div class="container">
          <div class="columns twelve offset-by-two">
            <h2>Placeholder Text</h2>

            <p><strong>A pint 'o mild. Tell thi summat for nowt th'art nesh thee chuffin' nora eeh appens as maybe. Ey up is that thine god's own county. Be reet be reet nah then michael palin bloomin' 'eck gerritetten.</strong> Ah'll learn thi soft southern pansy. Any rooad soft southern pansy nobbut a lad mardy bum shu' thi gob face like a slapped arse. Ee by gum mardy bum michael palin. God's own county. Th'art nesh thee. Appens as maybe god's own county where's tha bin.</p>
          </div>
      </div>
  </div>

  <div class="band main">
      <div class="container">
          <hr>
          <div class="columns six offset-by-two">
          </div>
          <div class="columns six">
          </div>
      </div>
  </div>

  <footer class="band main">
      <hr>
      <div class="container">
          <div class="columns eight">
          </div>
          <div class="columns eight last">
          </div>
      </div>
  </footer>

  <script type="text/javascript">
    var s = skrollr.init();

    skrollr.init({
      forceHeight: false
    });

  </script>

</body>

</html>
