<!-- Moved original formatting to "notes" file -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!--viewport goodness http://enva.to/A79s3G-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <title>Meaningless Pap</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'skrollr', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'background_vid', 'data-turbolinks-track' => true %>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/favicon.ico" />
    <link rel="apple-touch-icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/apple-touch-icon.png" />
</head>

<body>
  <header class="band" data-0="background-position:0px -300px;" data-300="background-position:0px -300px;"> <!-- 1st = starting img position, 2nd =  -->
    <div class="container">
        <div class="columns sixteen" data-0="opacity: 1" data-180="opacity: 0">
          <h6>(Temporary)</h6>
        </div>
    </div>
  </header>

  <div class="band main">
      <div class="container">
          <div class="columns twelve offset-by-two">
            <h1><a name="about"></a>Hi, I'm Dan. Let's build together.</h1>

            <p><strong>I spent most of my life until recently living reactively and with a fixed mindset, but was unexpectedly shaken to life last year by the death of my father. Though a terrible loss, it helped me realize the importance of living life with purpose and self love.  It sounds cheesy as hell, but through self-love I have found myself freed from the bondage of my own self-doubts and discovering new strengths and capabilities on an almost daily basis. There are several areas into which I'd like to channel these energies...</strong></p>
          </div>
      </div>
  </div>

  <div class="band_focus" data-0="background-position:0px -300px;" data-300="background-position:0px -300px;"> <!-- 1st = starting img position, 2nd =  -->
    <div class="container">
        <div class="columns sixteen" data-0="opacity: 1" data-180="opacity: 0">
        </div>
    </div>
  </div>


  <div class="band">
    <div class="container">
        <div class="columns twelve offset-by-two">

        <div class="centering_container">
          <div class="focus_points_header">
            <h1><a name="focus_points"></a>Focus Points</h1>
          </div>
          <div class="focus_points">

            <div class="single_focus_point">
              <div class="focus_points_sub_header">
                <h2>Programming</h2>
              </div>
              <div class="focus_points_text">
                <p>I took the programming leap through Dev Bootcamp this year to jump-start my learning. Working on something and need a hand? Let me know. I'm looking for interesting projects I can add value to and grow my skillz.</p>
              </div>
            </div>

            <div class="single_focus_point">
              <div class="focus_points_sub_header">
                <h2>Non-Profit</h2>
              </div>
              <div class="focus_points_text">
                <p>I'd love to put my new skills to use for those in need. I've got a couple web ideas I plan to explore, and am actively seeking open source projects to contribute to as well as volunteering opportunities.</p>
              </div>
            </div>

            <div class="single_focus_point">
              <div class="focus_points_sub_header">
                <h2>Government</h2>
              </div>
              <div class="focus_points_text">
                <p>Our government is horribly stagnant when it comes to innovation relative to the other verticals of our society. I'm interested in attacking significant system leverage points such as the legislative and electoral processes.</p>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>


  <div class="band_collaboration" data-0="background-position:0px -300px;" data-300="background-position:0px -300px;"> <!-- 1st = starting img position, 2nd =  -->
    <div class="container">
        <div class="columns sixteen" data-0="opacity: 1" data-180="opacity: 0">
        </div>
    </div>
    <div class="clearer"></div>
  </div>

  <div class="band">
    <div class="container">
        <div class="columns twelve offset-by-two">
          <h1><a name="collaboration"></a>Collaboration</h1>

          <p><strong>I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. I like to collaborate. </strong></p>


        </div>
    </div>
  </div>

  <footer class="band main">
      <hr>
      <div class="container">
          <div class="columns eight">
            <h2>
              Let's Connect!
            </h2>
            <ul>
              <li><a href="https://www.facebook.com/DanKlos">Facebook</a></li>
            </ul>
          </div>
          <div class="columns eight last">
          </div>
      </div>
  </footer>

  <script type="text/javascript">
    var s = skrollr.init();

    skrollr.init({
      forceHeight: false
    });

  </script>

</body>

</html>
