// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */


@import "normalize";
@import "fluid_skeleton";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.offset {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 0;
    z-index: 9999;
}

header.band {
    // -skrollr-animation-name:animation1;
    background: #FFFFFF;
    color: white;
    text-align: center;
    padding: 4em 0 10em 0;
}

.band_focus {
    // -skrollr-animation-name:animation1;
    background: #FFFFFF;
    color: white;
    text-align: center;
    padding: 4em 0 10em 0;
}

.band_collaboration {
    // -skrollr-animation-name:animation1;
    background: #FFFFFF;
    color: white;
    text-align: center;
    padding: 4em 0 10em 0;
}

h1, h2, h3, h6 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-align: center;
}

header.band h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}

a.button {
    background: #e33f0c;
    text-align: center;
    padding: .5em 1em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0.2em 0 #ab3009;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    /*transition cross-browser stuff*/
    -webkit-transition: background 0.2s ease-out;  /* Safari 3.2+, Chrome */
    -moz-transition: background 0.2s ease-out;  /* Firefox 4-15 */
    -o-transition: background 0.2s ease-out;  /* Opera 10.5–12.00 */
    transition: background 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

a.button:hover {
    background: #ab3009;
}

p {
  font-family: Bitter;
  font-size: 100%
}

// h1 {
//   font-family: Bitter;
// }

h2 {
  font-family: Bitter;
}

h1.section_title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 300%;
  line-height: 1.3em;
  font-weight: 700;
  color: #8B8878 ;
  margin-bottom: 0px;
}

h1:before{
  display: block;
  content: " ";
  margin-top: -1em;
  height: 1em;
  visibility: hidden;
}



@media only screen and (min-width: 767px) {
  .full_screen_first {
    background: url('nebula_small.png') no-repeat top center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
}

.full_screen_second {
  background: url('temp_face.png') no-repeat top center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 150vh;
  width: 100%;
  z-index: 2;
}

.curtainContainer {width: 100%; height: 100%; position: relative; z-index: 3;}
.curtainContainer .curtain {width: 100%; height: 1px; background-color: #fff; position: absolute; left: 0; opacity: 0; }
.curtainContainer .copy {position: absolute; top: 30%; left: 0; width: 100%; text-align: center;}

@media only screen and (min-width: 767px) {
    .band_focus {
      background-image: image-url('gargantua_black_hole.png');
      background-position: center;
    }
}


@media only screen and (min-width: 767px) {
    .band_collaboration {
        background-image: image-url('collaboration_star_wars.png');
        background-position: 44% 28%;
        height: 500px;
    }

}

// Focus Points

.centering_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.focus_points {
  display: flex;
  flex-direction: row;
}

.single_focus_point {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: .6em;
}

.focus_points_sub_headers {
  display: flex;
  flex-direction: row;;
  margin: .6em;
}

.focus_points_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.focus_points_text p {
  text-align: left;
  font-size: .7em;
}

.sidebar {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 40px;
  position: fixed;
  background: #FFFFFF;
  z-index: 9999;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.sidebar li {
  display: flex;
  font-size: large;
  padding-left: 1em;
  padding-right: 1em;
}

.sidebar a {
  text-decoration: none;
  color: #8B8878;
  font-family: Quicksand;
}

.sidebar a:hover {
  text-decoration: underline;
  color: #000000;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 3em;
  background: #FFFFFF;
  z-index: 1;
}

.footer h6{
  margin: 0px;
}

.footer ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer li {
  display: flex;
  padding: 1em;
}

.footer a {
  text-decoration: none;
  color: #8B8878;
  font-family: Quicksand;
}

.footer a:hover {
  text-decoration: none;
  color: #000000;
}


// .logo {
//   display: flex;
//   width: 40px;
//   height: auto;
//   // position: absolute;
//   right: 3em;
//   top: 3em;
// }

// html, body {
//   font-family: 'Raleway', sans-serif;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-weight: 500;
// }

// a {
//   text-decoration: none;
//   color: inherit;
// }

// .button {
//   outline: none;
//   background: transparent;
//   border: 1px solid #d6dce0;
//   padding: .5em 1.5em;
//   border-radius: 1.5em;
//   &:hover {
//     border: 1px solid #33acb7;
//     color: #33acb7;
//     a {
//       color: #33acb7 !important;
//     }
//   }
// }

// .article_wrapper {
//     padding: 3em;
//     border-bottom: 1px solid #d6dce0;
//     .title {
//       margin: 0;
//       a {
//         font-weight: 500;
//         text-decoration: none;
//         color: #2a2f35;
//         font-size: 1.5em;
//         &:hover {
//           color: #33acb7;
//         }
//       }
//     }
//     .article_timestamp {
//       color: #9eafba;
//       margin: .5em 0 0 0;
//     }
//   }
//   .article_content {
//     padding: 1em 3em;
//     .title {
//       font-weight: 500;
//       text-decoration: none;
//       color: #2a2f35;
//       font-size: 2.5em;
//       margin-bottom: 0;
//     }
//     .body {
//       font-size: 1.1em;
//       line-height: 1.75;
//     }
//     .article_timestamp {
//       color: #9eafba;
//       margin: .5em 0 2em 0;
//     }
//     .comments {
//       h2 {
//         margin: 3em 0 1em 0;
//         border-bottom: 1px solid #d6dce0;
//         padding-bottom: 0.5em;
//       }
//       h3 {
//         margin-top: 2em;
//       }
//       .comment {
//         border-bottom: 1px solid #d6dce0;
//         padding: 1.5em 2em;
//         .clear_both {
//           clear: both;
//         }
//         &:after {
//           clear: both;
//         }
//         .comment_content {
//           float: left;
//           .comment_name {
//             margin: 1em 0 0 0;
//             font-size: 0.7em;
//             text-transform: uppercase;
//           }
//           .comment_body {
//             font-size: 1.2em;
//             margin: 0.2em 0 0 0;
//           }
//           .comment_timestamp {
//             margin-top: 1.2em;
//             font-size: .8em;
//           }
//         }
//         .button {
//           float: right;
//         }
//       }
//       input[type="text"], textarea {
//         width: 50%;
//       }
//     }
//   }

// .main_content {
//   // margin-left: 250px;
//   .header {
//     padding: 1em 3em;
//     border-bottom: 1px solid #d6dce0;
//     background: #f5f7f9;
//     color: #9eafba;
//     p {
//       display: inline;
//     }
//     a {
//       color: #9eafba;
//       text-decoration: none;
//     }
//     .buttons {
//       float: right;
//       margin-top: -6px;
//       .button {
//         font-size: .8em;
//         margin-left: .5em;
//       }
//     }
//   }
//   .page_wrapper {
//     padding: 3em;
//     .profile_image {
//       width: 300px;
//       float: left;
//       margin-right: 2em;
//       img {
//         width: 100%;
//         border-radius: 0.35em;
//       }
//     }
//     .content {
//       h1 {
//         font-weight: 500;
//       }
//       p {
//         font-size: 1.1em;
//         line-height: 1.75;
//       }
//       a {
//         color: #33acb7;
//         font-weight: 700;
//         text-decoration: none;
//       }
//     }
//   }
//   .links {
//     margin: 2em 0;
//   }
//   input[type="text"], input[type="email"], input[type="password"], textarea {
//     width: 90%;
//     border: 1px solid #d6dce0;
//     border-radius: .35em;
//     margin-top: 10px;
//     padding: .5em 1em;
//     line-height: 1.75;
//   }
//   input[type="text"] {
//     height: 35px;
//   }
//   textarea {
//     min-height: 180px;
//   }
//   input[type="submit"] {
//     outline: none;
//     background: transparent;
//     border: 1px solid #d6dce0;
//     padding: .5em 1.5em;
//     font-size: 1.1em;
//     border-radius: 1.5em;
//     margin-left: .5em;
//     &:hover {
//       border: 1px solid #33acb7;
//       color: #33acb7;
//     }
//   }
// }
